Django/220907/venv/
Django/220918/venv/
Django/Gang_Project/venv/
Django/Articles/venv/
Django/Articles/db.sqlite3
Django/221022/DRF_Practice/venv/
Django/221022/DRF_Practice/db.sqlite3
Django/221023/venv/
Django/221023/db.sqlite3
