{% extends 'base.html' %}

{% block content %}
  <h1>Articles</h1>
  {% if request.user.is_authenticated %}
    <a href="{% url 'articles:create' %}">Article Create</a>
  {% endif %}
  <hr>
  {% for article in articles %}
    <p>
      <b>User : <a href="{% url 'accounts:profile' article.user.username %}">{{article.user}}</a></b>
    </p>
    <p>Title : {{article.title}}</p>
    <p>Content : {{article.content}}</p>
    <p>Likes : <span id = "likes-count-{{article.pk}}">{{ article.like_users.all|length }}</span></p>
    <div class='d-flex flex-row mb-3'>
      <form id="like-forms" data-article-id = "{{ article.pk }}" class='d-flex flex-row'>
        {% csrf_token %}
        {% if request.user in article.like_users.all %}
          <button type="submit" class="btn btn p-0" id="like-{{article.pk}}"><i class="fa-solid fa-heart btn" style="color: red;"></i></button>
          <!-- <input type="submit" value="좋아요 취소" id="like-{{article.pk}}"> -->
          {% else %}
          <button type="submit" class="btn btn m-0" id="like-{{article.pk}}"><i class="fa-regular fa-heart"></i></button>
          <!-- <input type="submit" value="좋아요" id="like-{{article.pk}}"> -->
        {% endif %}
      </form>
      <form action="{% url 'articles:detail' article.pk %}" class='d-flex flex-row'>
        <button type="submit" class="btn btn "><i class="fa-regular fa-comment allign-items-center"></i></button>
      </form>
    </div>
    <hr>
  {% endfor %}

{% endblock content %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const forms = document.querySelectorAll('#like-forms')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken').value
    forms.forEach((form) => {
      form.addEventListener('submit', function (event) {
        event.preventDefault()
        const articleId = event.target.dataset.articleId
        axios({
          method: 'post',
          url: `http://127.0.0.1:8000/articles/${articleId}/likes/`,
          headers: {'X-CSRFToken': csrftoken,},
        })
        .then((response) => {
          const isLiked = response.data.is_liked
          const likeBtn = document.querySelector(`#like-${articleId}`)
          if (isLiked === true) {
            // likeBtn.value = '좋아요 취소'
            const iTag = document.createElement('i')
            iTag.classList.add = "fa-solid fa-heart btn"
            iTag.setAttribute('style',"color: red;")
            likeBtn.appendChild(iTag)
            // likeBtn.innerText = <i class="fa-solid fa-heart btn" style="color: red;"></i>
          } else {
            // likeBtn.value = '좋아요'
            iTag.classList.add = "fa-regular fa-heart"
            likeBtn.appendChild(iTag)
            // likeBtn.innerText = <i class="fa-regular fa-heart"></i>
          }
          const likesCountTag = document.querySelector(`#likes-count-${articleId}`)
          const likesCount = response.data.likes_count
          likesCountTag.innerText = likesCount
        })    
        .catch((error) => {
          console.log(error.response)
        })
      })
    });
  </script>
{% endblock script %}